.fa-user-secret{
	position: fixed;
	left: 40%;

}

.loginClass{

   border-radius: 20px;
	position: fixed;
	top: 35%;
	left: 25%;
	margin-top: -50px;
	margin-left: -100px;
	background-color: white;
	align-items: center;

}